.profile {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__info {
    text-align: left;
    margin-left: 30px;
  }

  &__info-text {


    & span {
      font-size: 20px;
      font-weight: 600;
      color: $secondary;
    }
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 18px;
  background-color: $secondary;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #fff;
  transition: all .5s ease-in-out;
  cursor: pointer;

  & span {
    margin-right: 10px;
  }

  &:hover {
    background-color: #e12810;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}